.header  {
  font-family: monospace;
  background: papayawhip;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 12px;
  font-weight: bold;
  color: tomato;
  background: white;
  padding: 4px 12px;
}

ul {
  display: flex;
  list-style-type: none;  
  margin: 0;
  padding: 0;
  gap: 8px;
}

a {
  font-size: 12px;
  background: white;
  padding: 4px;
  text-decoration: none;
}